.shop-container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  gap: 10px;
}

.products-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 45px;
  margin-left: 100px;
  /* margin-right: 80px; */
  margin-top: 47px;
}

.cart-container {
  background: #ffe0b3;
  color: black;
  height: 510px;
  margin-top: 47px;
  border-radius: 5px;
  margin-right: 10px;
  position: sticky;
  top: 0;
}
.cart-container h3 {
  color: green;
  text-align: center;
}

.summary-section {
  padding-left: 10px;
}
