.product {
  width: 300px;
  height: 510px;
  border: 1px solid #95a0a7;
  border-radius: 8px;
  position: relative;
}
.product img {
  width: 286px;
  width: 286px;
  margin: 7px;
  border-radius: 8px;
}

.product-name {
  margin: 0;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 25px;
  letter-spacing: 0.0015em;

  color: #fff;
}
.product-price {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 25px;
}

.product-info {
  margin-left: 14px;
  position: relative;
}

.seller-ratting-info {
  margin: 0px;
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 14px;
  letter-spacing: 0.004em;
}
.manufacture-name {
  margin-bottom: 0px;
}

.btn-cart {
  width: 100%;
  background: #ffe0b3;
  border: 1px solid #95a0a7;
  border-radius: 0px 0px 8px 8px;
  position: absolute;
  bottom: 0;
}
.btn-cart:hover {
  background: green;
  color: white;
}

.icone {
  margin-left: 10px;
}
