.sub-title {
  text-align: center;
  font-size: larger;
}

.link {
  text-decoration: none;
  color: orange;
  margin-left: 5px;
  font-family: "Lato";
}
.text-error {
  color: rgba(245, 46, 11, 0.913);
}
